*{
    margin: 0;
    padding: 0;
}
nav{
    background-color: black;
    color:white;
    padding: 15px;

}
li,h1,ul{
    display: inline;
}
ul{
    margin-left: 75%;
}
li{
    color: grey;
    cursor: pointer;
}
li:hover{
    color:white;
}
input{
    width: 60%;
    padding: 15px;

}
.searchbar{
    padding: 50px;
    text-align: center;
}
